<header class="header-container">
    <img src="https://cdn.discordapp.com/attachments/925141025331228775/1287456571583893516/Design_sem_nome_9.png?ex=66f19cde&is=66f04b5e&hm=df4230213e2a745aabdb15da4e505fe4971d5b936513ac2551a05b3bdd499e06&"
        alt="logo" class="header-image">
    <nav class="navbar">
        <button class="hamburger" onclick="toggleMenu()">&#9776;</button>
        <div class="menu-items">
            <a href="#">HOME</a>
            <a href="#">SOBRE</a>
            <a href="#">SERVIÇOS</a>
            <a href="#">UNIDADES</a>
            <a href="#">CORTES</a>
            <a href="#">BLOG</a>
            <a href="#"> CONTATO</a>
            <button (click)="irParaAgendamento()" id="marcacao">Marque seu horario </button> 

        </div>
    </nav>
</header>