<div class="carousel-container">
    <div class="carousel-slide">
        <img src="https://cdn.discordapp.com/attachments/925141025331228775/1287456571315585085/banner1.png?ex=66f19cde&is=66f04b5e&hm=4637d5dfd6d91bb7dc6539c09db3a9a7ad39d7c4bc4538d29cc4c40abe883cd7&"
            alt="Imagem1">
        <img src="https://media.discordapp.net/attachments/925141025331228775/1287456572217364582/o_espaco_do_homem.png?ex=66f19cde&is=66f04b5e&hm=d2ff84d2fa37bfe3b3a400e70830906617c33c6128ea5d1933e137b492139571&=&format=webp&quality=lossless&width=1439&height=479"
            alt="Imagem2">
        <img src="https://media.discordapp.net/attachments/925141025331228775/1287456571911307358/o_espaco_do_homem_1.png?ex=66f19cde&is=66f04b5e&hm=61c3c2004d4a2efbe5a4b6ae46c93e77b6c2478d00437bff93051e926afdaf88&=&format=webp&quality=lossless&width=1439&height=479"
            alt="imagem3">
    </div>
    <div class="sobre">
        <DIv class="texto">
            <h2>SOBRE</h2>
            <p>
                Na Barbearia Barbershop, tradição e estilo moderno se encontram para <BR>
                oferecer uma experiência única. Com
                um ambiente elegante e acolhedor, <BR> nossa equipe de barbeiros especialistas proporciona
                cortes de cabelo,
                barba <BR> e tratamentos de bem-estar de alta qualidade. Cada cliente recebe um atendimento
                <BR> personalizado,
                utilizando os melhores produtos para garantir uma experiência <BR> de luxo. Aqui, você relaxa,
                renova seu
                visual e sai pronto para impressionar. <BR>Venha viver a experiência Barbershop e descubra o
                cuidado que
                você merece!
            </p>
        </DIv>
    </div>
    <button class="carousel-btn prev" onclick="prevSlide()">&#10094;</button>
    <button class="carousel-btn next" onclick="nextSlide()">&#10095;</button>
   
