<div class="servicos">
    <H1> NOSSOS SERVIÇOS</H1>
</div>
<div class="icones">
    <div> <IMg
            src="https://cdn.discordapp.com/attachments/925141025331228775/1287456570711474317/18-Cabelo-Barba.png.crdownload?ex=66f19cde&is=66f04b5e&hm=13b3d29b570d7f1b140ec1d2efbf230bd70ec42b9ddf19d48c14e7f8e12f49f4&">CABELO
        E BARBA </div>
    <DIV> <IMG
            src="https://cdn.discordapp.com/attachments/925141025331228775/1287456305170354288/03-Quimica.png.crdownload?ex=66f19c9e&is=66f04b1e&hm=2b503a3949def5f8918bae68979ba4ee6fe81599bc4912316c12316b63cd0602&">
        QUIMICA CAPILAR </DIV>
    <DIV> <IMG
            src="https://cdn.discordapp.com/attachments/925141025331228775/1287476845671092246/09-Massagem.png?ex=66f1afc0&is=66f05e40&hm=69e5ade0ce913109a57b981f5db175e1eb87dd252dc14595b93dd472339dd69a&">
        MASSAGEM </DIV>
    <div> <img
            src="https://cdn.discordapp.com/attachments/925141025331228775/1287478896232497193/11-LimpezaDePele.png.crdownload?ex=66f1b1a9&is=66f06029&hm=c056fe63b626537cccb548ff306abac10fb2517dff72635fddf409be9ae3942f&"
            alt="">
        ESTETICA MASCULINA</div>
    <DIV><IMg
            src="https://cdn.discordapp.com/attachments/925141025331228775/1287456306822647951/12-Dia-do-Noivo_1.png.crdownload?ex=66f19c9f&is=66f04b1f&hm=4015e09d91781fb3a4667094342af36aac92567abeb44a4dfacb805f351d9212&">
        DIA DO NOIVO </DIV>
    <DIv> <IMg
            src="https://cdn.discordapp.com/attachments/925141025331228775/1287456305522409472/07-Manicure-e-Pedicure.png.crdownload?ex=66f19c9f&is=66f04b1f&hm=fcbba95d593eff263a88681e236089b4dba7a23eca0a379156a1b8b673a54cc3&">MANICURE
        E PEDICURE </DIv>
</div>
<div class="conteiner">
<div class="lazer">
    <H1>LAZER</H1>
</div>
<div class="imagens">
    <DIV class="cervejas"> <IMG
            src="https://cdn.discordapp.com/attachments/925141025331228775/1287456572435595344/site-08_.png?ex=66f19cde&is=66f04b5e&hm=9e18baaeea340d7ea80e3e429bc44e123e8d60b55f9e016f61ff6c9bb9bb948b&">
        <h3> CERVEJAS E DESTILADOS </h3>
        <p>Na nossa barbearia, oferecemos muito mais <br> do que apenas cortes de cabelo e cuidados <br> com
            a barba. Enquanto você espera pelo seu <br>atendimento ou simplesmente deseja relaxar, <br>
            convidamos você a desfrutar de nossa seleção <br> exclusiva de cervejas e destilados.</p>
    </DIV>
    <div class="poker"> <IMG
            src="https://media.discordapp.net/attachments/925141025331228775/1287456572725006376/site-09.png?ex=66f19cde&is=66f04b5e&hm=e29223790805cb4c8088c086b58ef0f923543a85fdf65ce8384d922cb9df0777&=&format=webp&quality=lossless&width=220&height=220">

        <h3>POKER </h3>
        <p> Em um ambiente descontraído e elegante, <br>nossa sala de poker é perfeita para quem <br>
            aprecia o jogo e quer aproveitar momentos <br> de lazer com estilo. Seja um jogador experiente
            <br> ou um iniciante curioso, aqui você encontrará o <br> espaço ideal para relaxar, competir e
            se divertir.
        </p>
    </div>
    <div class="jogos">
        <IMg
            src="https://media.discordapp.net/attachments/925141025331228775/1287456573047701698/Site-10.png?ex=66f19cde&is=66f04b5e&hm=02ecf4713135a29d52cd8888df036743cc5a430e15aeefb16776bdbd0dd39bdb&=&format=webp&quality=lossless&width=220&height=220">
        <h3>JOGOS</h3>
        <p> Na nossa barbearia, sabemos que momentos <br> de espera podem ser uma ótima oportunidade <br>
            para relaxar e se divertir. Por isso, oferecemos <br> uma seleção de jogos para entreter nossos
            <br>
            clientes enquanto esperam pelo atendimento.
        <p></p>
    </div>
</div>
