<div class="dados">
    <h2>Formulário de Agendamento</h2>
    <!-- formulario para agendamentos de horarios-->
    <form id="agendamento-form">
      <label for="nome">Nome:</label>
      <input type="text" id="nome" name="nome" required>
  
      <label for="telefone">Telefone:</label>
      <input type="tel" id="telefone" name="telefone" required>
  
      <label for="horarios">Escolha um Horário:</label>
      <select id="horarios" name="horarios" required>
        <option value="">Selecione um horário</option>
      </select>
  
      <input type="submit" value="Marcar Horário">
    </form>
  </div>